@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%))
}

.container {
    display: flex;
    min-height: 100vh;
}

.text-container {
    width: 60%;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
}

.logo {
    margin: 5em 10% 0 10%;
    margin-bottom: 5em;
}

.mobile-img {
    width: 100%;
    margin-top: -2em;
    margin-bottom: 4em;
    display: none;
}

h1 {
    margin: 0 10%;
    text-transform: uppercase;
    width: 7em;
    letter-spacing: 0.3em;
    margin-bottom: 1em;
    font-size: 2.5em;
}

h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

p {
    margin: 0 10%;
    color: hsl(0, 36%, 70%);
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.input-form {
    margin: 0 10%;
    position: relative;
}

input {
    padding: 1em;
    border-radius: 50px;
    width: 100%;
    border: 1px solid hsl(0, 80%, 86%);
    position: relative;
    outline: none;
}

button {
    position: absolute;
    top: 1px;
    right: 0.3px;
    padding: 0.8em 2em;
    border-radius: 50px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 5px hsl(0, 74%, 74%);
}

input:focus {
    border: 1px solid hsl(0, 74%, 74%);
}

button:active {
    transform: scale(0.95);
}

.error {
    position: absolute;
    top: 0.75em;
    right: 5em;
    display: none;
}

#errorMsg {
    color: hsl(0, 93%, 68%);
    margin-top: 0.75em;
    margin-left: 1em;
    display: none;
}

.image-container {
    background: url('./images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    font-size: 30px;
    color: hsl(0, 36%, 70%);
    text-transform: uppercase;
}

@media only screen and (max-width:600px) {
    .logo {
        margin: 2em 5% 4em 5%;
    }
    .inner-container {
        height: auto;
    }
    .image-container {
        display: none;
    }
    .mobile-img {
        display: block;
    }
    .text-container {
        width: 100%;
    }
    h1,
    p {
        text-align: center;
    }
    h1 {
        margin: 0 auto;
        margin-bottom: 1em;
    }
    input {
        margin-bottom: 5em;
    }
}