@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif
}

.logo {
    width: 12em;
    margin: 2em;
}

.container {
    display: flex;
    width: 90%;
    align-items: center;
    height: auto;
    margin: 4rem 0;
}

.img-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 80%;
    text-align: center;
}

.text-container {
    width: 40%;
    height: 100%;
}

h2 {
    color: white;
    margin: 2em 0;
    margin-bottom: 0.75em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
    font-size: 2em;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.75em;
    margin-right: 2em;
}

button {
    padding: 0.75em 2em;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: hsl(257, 40%, 49%);
}

button:hover {
    background-color: white;
}

footer {
    width: 95%;
    text-align: right;
    display: block;
}

i {
    font-size: 1em;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    body {
        background-image: url('./images/bg-mobile.svg');
    }
    .container {
        flex-direction: column;
        width: 100%;
        margin: 80px 0;
        height: auto;
    }
    .img-container {
        width: 100%;
    }
    .text-container {
        width: 80%;
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        margin-right: 0;
    }
    footer {
        width: 100%;
        text-align: center;
    }
}